This notebook focuses on calculating the ratio of Wikipedia politician articles counts to the country/region population, as well as the ratio of "high quality" Wikipedia politician articles counts to the total country/region article counts.

In [1]:
import pandas as pd
import numpy as np
import requests
import json
pd.set_option('display.max_rows', 999)

In [2]:
df = pd.read_csv('/Users/allen/Downloads/country/data/page_data.csv')
pop = pd.read_csv('/Users/allen/Downloads/WPDS_2018_data.csv')

# page names start with 'Template' are not Wikipedia articles
df['has_template'] = df['page'].str.find('Template')
df = df[df.has_template == -1].reset_index(drop=True)
df.drop(columns=['has_template'], inplace=True)

headers = {'User-Agent' : 'https://github.com/liuy379', 'From' : 'liuy379@uw.edu'}

In [3]:
def get_ores_data(revision_ids, headers):
    """Connect API to extract data."""
    endpoint = 'https://ores.wikimedia.org/v3/scores/{project}/?models={model}&revids={revids}'
    params = {'project' : 'enwiki',
              'model'   : 'wp10',
              'revids'  : '|'.join(str(x) for x in revision_ids)
              }
    api_call = requests.get(endpoint.format(**params))
    response = api_call.json()
    
    return response

In [4]:
def extract_prediction(df):
    """Return dataframe of rev_ids and their predictions."""
    idx = np.arange(0, df.shape[0], 100).tolist()
    output = list()
    for i in idx:
        ids = df['rev_id'].tolist()[i:(i+100)]
        ores_data = get_ores_data(ids, headers)
        for key, item in ores_data['enwiki']['scores'].items():
            dc = dict()
            dc['rev_id'] = key
            if 'error' in item['wp10']:
                dc['prediction'] = 'ERROR'
            else:
                dc['prediction'] = item['wp10']['score']['prediction']
            output.append(dc)
    
    return pd.DataFrame(output)

In [5]:
pred = extract_prediction(df)

# output the rev_ids with no prediction available
pred[pred.prediction == 'ERROR'][['rev_id']].to_csv('revid_no_prediction.csv', index=False)

# update data
pred = pred[pred.prediction != 'ERROR']

# merge data
pred = pred.astype({'rev_id': 'int64'})
target = df.merge(pop, how='left', left_on='country', right_on='Geography')

# output data that does not have country match
target[target.Geography.isnull()].to_csv('wp_wpds_countries-no_match.csv', index=False)

# update working data
target.dropna(inplace=True)

# merge with prediction data
target = target.merge(pred, how='left', on='rev_id')
target.dropna(inplace=True)

target.drop(columns=['Geography'], inplace=True)
target.columns = ['article_name','country','revision_id','population','article_quality']
target = target[['country','article_name','revision_id','article_quality','population']]
target.to_csv('wp_wpds_politicians_by_country.csv', index=True)

In [6]:
# manipulate data type
pop['Population mid-2018 (millions)'] = pop['Population mid-2018 (millions)'].str.replace(',', '')
pop = pop.astype({'Population mid-2018 (millions)':'float'})

In [7]:
target.head()

,country,article_name,revision_id,article_quality,population
0,Chad,Bir I of Kanem,355319463,Stub,15.4
1,Cambodia,Yos Por,393822005,Stub,16
2,Canada,Robert Douglas Cook,401577829,Stub,37.2
3,Egypt,List of Grand Viziers of Egypt,442937236,Stub,97
4,Pakistan,Sehba Musharraf,448555418,Stub,200.6

In [8]:
pop.head()

  Geography  Population mid-2018 (millions)
0    AFRICA                          1284.0
1   Algeria                            42.7
2     Egypt                            97.0
3     Libya                             6.5
4   Morocco                            35.2

### 1. "10 highest-ranked countries in terms of number of politician articles as a proportion of country population"

In [9]:
d1 = target.groupby('country').agg(
    num_article = ('revision_id', 'count'),
).merge(pop, how='left', left_on='country', right_on='Geography')

d1['article_proportion'] = d1['num_article'] / (d1['Population mid-2018 (millions)'] * 1000000)
d1.columns = ['num_article','country','population_mid_2018_millions','article_proportion']
d1 = d1[['country','num_article','population_mid_2018_millions','article_proportion']]
d1.sort_values('article_proportion', ascending=False).head(10).reset_index(drop=True)

,country,num_article,population_mid_2018_millions,article_proportion
0,Tuvalu,54,0.01,0.005400
1,Nauru,52,0.01,0.005200
2,San Marino,81,0.03,0.002700
3,Monaco,40,0.04,0.001000
4,Liechtenstein,28,0.04,0.000700
5,Tonga,63,0.10,0.000630
6,Marshall Islands,37,0.06,0.000617
7,Iceland,201,0.40,0.000503
8,Andorra,34,0.08,0.000425
9,Grenada,36,0.10,0.000360

### 2. "10 lowest-ranked countries in terms of number of politician articles as a proportion of country population"

In [10]:
d1.sort_values('article_proportion', ascending=True).head(10).reset_index(drop=True)

        country  num_article  population_mid_2018_millions  article_proportion
0         India          980                        1371.3        7.146503e-07
1     Indonesia          210                         265.2        7.918552e-07
2         China         1130                        1393.8        8.107332e-07
3    Uzbekistan           28                          32.9        8.510638e-07
4      Ethiopia          101                         107.5        9.395349e-07
5  Korea, North           36                          25.6        1.406250e-06
6        Zambia           25                          17.7        1.412429e-06
7      Thailand          112                          66.2        1.691843e-06
8    Mozambique           58                          30.5        1.901639e-06
9    Bangladesh          319                         166.4        1.917067e-06

### 3. "10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality"

In [11]:
d2 = target.groupby('country').agg(
    num_quality = ('article_quality', lambda x: sum(x.isin(['FA','GA']))),
    num_article = ('country', 'count')
)
d2['proportion'] = d2.apply(lambda x: x.num_quality / x.num_article, axis=1)
d2.sort_values('proportion', ascending=False).head(10)

                          num_quality  num_article  proportion
country
Korea, North                        7           36    0.194444
Saudi Arabia                       15          118    0.127119
Mauritania                          6           48    0.125000
Central African Republic            8           66    0.121212
Romania                            39          343    0.113703
Tuvalu                              5           54    0.092593
Bhutan                              3           33    0.090909
Dominica                            1           12    0.083333
Syria                              10          128    0.078125
Benin                               7           91    0.076923

### 4. "10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality" these countries do not have GA and FA-quality articles at all

In [12]:
# these countries do not have any high quality Wiki politician article
d2[d2.num_quality == 0].index

Index(['Andorra', 'Angola', 'Antigua and Barbuda', 'Bahamas', 'Barbados',
       'Belize', 'Cameroon', 'Cape Verde', 'Comoros', 'Costa Rica', 'Djibouti',
       'Eritrea', 'Estonia', 'Federated States of Micronesia', 'Finland',
       'Guyana', 'Kazakhstan', 'Kiribati', 'Lesotho', 'Liechtenstein',
       'Macedonia', 'Malta', 'Marshall Islands', 'Moldova', 'Monaco',
       'Mozambique', 'Namibia', 'Nauru', 'San Marino', 'Sao Tome and Principe',
       'Seychelles', 'Slovakia', 'Solomon Islands', 'Tonga', 'Tunisia',
       'Turkmenistan', 'Uganda', 'Zambia'],
      dtype='object', name='country')

In [13]:
# after excluding the above ones, these are the 10 lowest-ranked countries
d2[d2.proportion != 0].sort_values('proportion', ascending=True).head(10)

             num_quality  num_article  proportion
country
Belgium                1          520    0.001923
Tanzania               1          405    0.002469
Switzerland            1          402    0.002488
Nepal                  1          357    0.002801
Peru                   1          350    0.002857
Nigeria                2          677    0.002954
Colombia               1          285    0.003509
Lithuania              1          244    0.004098
Fiji                   1          197    0.005076
Azerbaijan             1          179    0.005587

### 5. "Ranking of geographic regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population"

In [14]:
def generate_region_col(pop):
    region_idx = pop.index[pop.Geography.str.isupper()].tolist()
    region_name = pop.Geography[region_idx].tolist()
    region_name = [[x] for x in region_name]
    region_idx.append(pop.shape[0])
    rep_times = [region_idx[i + 1] - region_idx[i] for i in range(len(region_idx)-1)]
    ls = [region_name[i] * rep_times[i] for i in range(len(rep_times))]
    ls = [y for x in ls for y in x]
    
    return ls

In [15]:
pop['region'] = generate_region_col(pop)

d3 = target.groupby('country').agg(
    num_article = ('revision_id', 'count'),
).merge(pop, how='left', left_on='country', right_on='Geography')

d3 = d3.groupby('region').agg(
    total_article = ('num_article', 'sum'),
    total_pop_mid_2018_millions = ('Population mid-2018 (millions)', 'sum')
)

d3['proportion'] = d3.apply(lambda x: x.total_article / (x.total_pop_mid_2018_millions * 1000000), axis=1)
d3.sort_values('proportion', ascending=False)

,total_article,total_pop_mid_2018_millions,proportion
region,,,
OCEANIA,3128,39.78,0.000079
EUROPE,15864,734.59,0.000022
LATIN AMERICA AND THE CARIBBEAN,5169,628.27,0.000008
AFRICA,6851,1172.40,0.000006
NORTHERN AMERICA,1921,365.20,0.000005
ASIA,11531,4513.10,0.000003

### 6. "Ranking of geographic regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality"

In [16]:
d4 = target.groupby('country').agg(
    num_quality = ('article_quality', lambda x: sum(x.isin(['FA','GA']))),
    num_article = ('country', 'count')
).merge(pop, how='left', left_on='country', right_on='Geography')

d4 = d4.groupby('region').agg(
    total_quality_article = ('num_quality', 'sum'),
    total_article = ('num_article', 'sum')
)
d4['proportion'] = d4.apply(lambda x: x.total_quality_article/x.total_article, axis=1)

d4.sort_values('proportion', ascending=False)

,total_quality_article,total_article,proportion
region,,,
NORTHERN AMERICA,99,1921,0.051536
ASIA,310,11531,0.026884
OCEANIA,66,3128,0.021100
EUROPE,322,15864,0.020298
AFRICA,125,6851,0.018246
LATIN AMERICA AND THE CARIBBEAN,69,5169,0.013349