In [1]:
import pandas as pd
import numpy as np
import json
import requests

In [2]:
def api_call(endpoint):
    call = requests.get(endpoint)
    response = call.json()
    
    return response

## Legacy desktop

In [3]:
endpoint = 'https://wikimedia.org/api/rest_v1/metrics/legacy/pagecounts/aggregate/all-projects/desktop-site/monthly/2007120100/2016080100'

In [4]:
calls = api_call(endpoint)

In [5]:
df = pd.DataFrame(calls['items'])
df.head()

    access-site       count granularity       project   timestamp
0  desktop-site  5378180538     monthly  all-projects  2007120100
1  desktop-site  9154428521     monthly  all-projects  2008010100
2  desktop-site  8843288153     monthly  all-projects  2008020100
3  desktop-site  9191926623     monthly  all-projects  2008030100
4  desktop-site  9645856901     monthly  all-projects  2008040100

In [6]:
with open('pagecounts_desktop-site_200712-201608.json', 'w') as f:
    json.dump(calls, f)

## Legacy mobile

In [7]:
endpoint = 'https://wikimedia.org/api/rest_v1/metrics/legacy/pagecounts/aggregate/all-projects/mobile-site/monthly/2007120100/2016080100'

In [8]:
calls = api_call(endpoint)

In [9]:
df = pd.DataFrame(calls['items'])
df.head()

   access-site  count granularity       project   timestamp
0  mobile-site   6485     monthly  all-projects  2008050100
1  mobile-site   1218     monthly  all-projects  2012060100
2  mobile-site  15584     monthly  all-projects  2012070100
3  mobile-site  59161     monthly  all-projects  2012080100
4  mobile-site  52675     monthly  all-projects  2012090100

In [10]:
with open('pagecounts_mobile-site_200712-201608.json', 'w') as f:
    json.dump(calls, f)

## Pageviews desktop

In [15]:
endpoint = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/aggregate/all-projects/desktop/user/monthly/2015070100/2019090100'

In [16]:
calls = api_call(endpoint)

In [18]:
df = pd.DataFrame(calls['items'])
df.head()

    access agent granularity       project   timestamp       views
0  desktop  user     monthly  all-projects  2015070100  8934372444
1  desktop  user     monthly  all-projects  2015080100  8965109595
2  desktop  user     monthly  all-projects  2015090100  9277717543
3  desktop  user     monthly  all-projects  2015100100  9337128937
4  desktop  user     monthly  all-projects  2015110100  9167636024

In [20]:
with open('pageviews_desktop_201507-201908.json', 'w') as f:
    json.dump(calls, f)

## Pageviews mobile-app

In [25]:
endpoint = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/aggregate/all-projects/mobile-app/user/monthly/2015070100/2019090100'

In [26]:
calls = api_call(endpoint)

In [30]:
df = pd.DataFrame(calls['items'])
print(df.shape)
df.head()

(50, 6)
       access agent granularity       project   timestamp      views
0  mobile-app  user     monthly  all-projects  2015070100  213708549
1  mobile-app  user     monthly  all-projects  2015080100  217111626
2  mobile-app  user     monthly  all-projects  2015090100  194275974
3  mobile-app  user     monthly  all-projects  2015100100  195293620
4  mobile-app  user     monthly  all-projects  2015110100  196280768

In [31]:
with open('pageviews_mobile-app_201507-201908.json', 'w') as f:
    json.dump(calls, f)

## Pageviews mobile-web

In [32]:
endpoint = 'https://wikimedia.org/api/rest_v1/metrics/pageviews/aggregate/all-projects/mobile-web/user/monthly/2015070100/2019090100'

In [33]:
calls = api_call(endpoint)

In [34]:
df = pd.DataFrame(calls['items'])
print(df.shape)
df.head()

(50, 6)

       access agent granularity       project   timestamp       views
0  mobile-web  user     monthly  all-projects  2015070100  6391937355
1  mobile-web  user     monthly  all-projects  2015080100  6583631660
2  mobile-web  user     monthly  all-projects  2015090100  6427107566
3  mobile-web  user     monthly  all-projects  2015100100  6704099204
4  mobile-web  user     monthly  all-projects  2015110100  6730545748

In [35]:
with open('pageviews_mobile-web_201507-201908.json', 'w') as f:
    json.dump(calls, f)

## Read in data

In [89]:
with open('pagecounts_desktop-site_200712-201608.json', 'r') as f:
    counts_desktop = json.load(f)

In [90]:
counts_desktop = pd.DataFrame(counts_desktop['items'])

In [95]:
counts_desktop.head()

   counts_desktop   timestamp
0      5378180538  2007120100
1      9154428521  2008010100
2      8843288153  2008020100
3      9191926623  2008030100
4      9645856901  2008040100

In [92]:
counts_desktop.drop(columns=['access-site','granularity','project'], inplace=True)

In [94]:
counts_desktop.columns = ['counts_desktop','timestamp']

In [96]:
with open('pagecounts_mobile-site_200712-201608.json', 'r') as f:
    counts_mobile = json.load(f)

In [97]:
counts_mobile = pd.DataFrame(counts_mobile['items'])

In [105]:
counts_mobile.head()

   counts_mobile   timestamp
0           6485  2008050100
1           1218  2012060100
2          15584  2012070100
3          59161  2012080100
4          52675  2012090100

In [99]:
counts_mobile.drop(columns=['access-site','granularity','project'], inplace=True)

In [100]:
counts_mobile.columns = ['counts_mobile','timestamp']

In [102]:
df = pd.merge(counts_desktop, counts_mobile, on='timestamp', how='outer')

In [103]:
df

     counts_desktop   timestamp  counts_mobile
0        5378180538  2007120100            NaN
1        9154428521  2008010100            NaN
2        8843288153  2008020100            NaN
3        9191926623  2008030100            NaN
4        9645856901  2008040100            NaN
5       10696423954  2008050100   6.485000e+03
6       10862643783  2008060100            NaN
7        9872117095  2008070100            NaN
8        9821076284  2008080100            NaN
9       10634498608  2008090100            NaN
10      11060299656  2008100100            NaN
11      10848704518  2008110100            NaN
12      10823161731  2008120100            NaN
13      11883795438  2009010100            NaN
14      10905839181  2009020100            NaN
15      12427916777  2009030100            NaN
16      11355556723  2009040100            NaN
17      12217627255  2009050100            NaN
18      11512035301  2009060100            NaN
19      11125301088  2009070100            NaN
20      11303698817  2009080100            NaN
21       8065942229  2009090100            NaN
22      12204272936  2009100100            NaN
23      11853172517  2009110100            NaN
24      10963469612  2009120100            NaN
25      11613873450  2010010100            NaN
26      11584225546  2010020100            NaN
27      12612180591  2010030100            NaN
28      12118517363  2010040100            NaN
29      12014991244  2010050100            NaN
..              ...         ...            ...
74      15158182039  2014020100   2.415766e+06
75      16848037147  2014030100   2.564838e+06
76      15945673445  2014040100   2.519532e+06
77      16364057216  2014050100   5.470491e+06
78      15001587397  2014060100   5.213187e+06
79      15321965691  2014070100   1.230429e+07
80      15568258191  2014080100   6.487607e+06
81      17083354788  2014090100   1.279598e+07
82      15489279343  2014100100   6.621798e+09
83      14387298639  2014110100   6.630341e+09
84      14013025175  2014120100   7.415555e+09
85      14160124703  2015010100   7.353242e+09
86      12632983539  2015020100   6.555237e+09
87      14122595254  2015030100   7.126929e+09
88      13757957383  2015040100   6.979205e+09
89      13928808505  2015050100   7.272845e+09
90      11494146983  2015060100   6.507554e+09
91      11921729452  2015070100   6.829792e+09
92      11148178057  2015080100   6.987042e+09
93      11819880511  2015090100   6.807183e+09
94      12228423272  2015100100   7.144568e+09
95      12050899239  2015110100   7.081712e+09
96      11877050131  2015120100   7.303983e+09
97      12493547532  2016010100   8.090643e+09
98      11887525591  2016020100   7.286465e+09
99      12325874778  2016030100   7.579221e+09
100     12467022151  2016040100   7.293875e+09
101     12087770685  2016050100   7.563785e+09
102     11273343920  2016060100   7.175978e+09
103     11323538792  2016070100   7.277018e+09

[104 rows x 3 columns]