In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/allen/Downloads/Wikipedia_Talk_Labels_Personal_Attacks_4054689/attack_annotated_comments.tsv',
                sep='\t')
re = pd.read_csv("/Users/allen/Downloads/Wikipedia_Talk_Labels_Personal_Attacks_4054689/attack_annotations.tsv",
              sep='\t')
dm = pd.read_csv("/Users/allen/Downloads/Wikipedia_Talk_Labels_Personal_Attacks_4054689/attack_worker_demographics.tsv",
              sep='\t')

In [3]:
pd.set_option('display.max_colwidth', -1)

In [4]:
# Top attack reviews
re_top_5 = re.groupby('rev_id').mean().sort_values('attack', ascending=False).head(5).reset_index()
re_top_5.merge(df, on='rev_id')

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack,comment,year,logged_in,ns,sample,split
0,363282605,663.3,0.0,0.9,0.1,0.1,1.0,NEWLINE_TOKENNEWLINE_TOKENComplete asshole. Fuck you.,2010,False,user,blocked,train
1,442315875,907.4,0.1,0.9,0.1,0.2,1.0,"NEWLINE_TOKENNEWLINE_TOKENFuck you faggot, I don't care if i get blocked, as long as everyone knows you are a dumb cunt.",2011,False,user,blocked,train
2,125536815,2536.6,0.0,0.9,0.0,0.1,1.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENFuck u Fuck u Fuck u Fuck uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu,2007,True,user,blocked,train
3,485311711,689.2,0.0,1.0,0.0,0.2,1.0,"NEWLINE_TOKENNEWLINE_TOKEN== hgfhfghdghgfgdh ==NEWLINE_TOKENNEWLINE_TOKENI hope you will suck my piss, fucking swine!",2012,False,user,blocked,dev
4,125495219,1363.9,0.0,1.0,0.0,0.0,1.0,WHAT NOW BITCH!! HA. FUCK YOU,2007,True,user,blocked,test

## Demographic

In [5]:
dm.head()

   worker_id  gender  english_first_language age_group     education
0  833        female  0                       45-60     bachelors
1  1072       male    0                       30-45     bachelors
2  872        male    0                       18-30     hs
3  2116       male    0                       30-45     professional
4  453        male    0                       30-45     hs

In [6]:
dm.groupby('gender')['worker_id'].count().sort_values(ascending=False)/dm.shape[0]

gender
male      0.615982
female    0.383562
other     0.000457
Name: worker_id, dtype: float64

In [7]:
dm.groupby('english_first_language')['worker_id'].count()

english_first_language
0    1788
1    402
Name: worker_id, dtype: int64

In [8]:
dm.groupby('age_group')['worker_id'].count().sort_values(ascending=False)/dm.shape[0]

age_group
18-30       0.478995
30-45       0.379452
45-60       0.099543
Under 18    0.016895
Over 60     0.009132
Name: worker_id, dtype: float64

In [9]:
dm.groupby('education')['worker_id'].count().sort_values(ascending=False)/dm.shape[0]

education
bachelors       0.393607
hs              0.288128
masters         0.175799
professional    0.110959
some            0.021918
doctorate       0.009132
none            0.000457
Name: worker_id, dtype: float64

In [10]:
df_1 = pd.merge(re, dm, how='inner', on='worker_id')
df_1.head()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack,gender,english_first_language,age_group,education
0,37675,1362,0.0,0.0,0.0,0.0,0.0,male,0,18-30,masters
1,3202092,1362,0.0,0.0,0.0,0.0,0.0,male,0,18-30,masters
2,4745553,1362,0.0,0.0,0.0,0.0,0.0,male,0,18-30,masters
3,4855563,1362,0.0,0.0,0.0,0.0,0.0,male,0,18-30,masters
4,8350378,1362,0.0,0.0,0.0,0.0,0.0,male,0,18-30,masters

In [11]:
# 
a = df_1.groupby(['gender'])['quoting_attack','recipient_attack','third_party_attack','other_attack','attack'].sum()
b = np.array([840, 1349, 1]).reshape(3,1)
np.multiply(a, 1/b)

,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
gender,,,,,
female,3.105952,42.507143,14.467857,12.182143,63.673810
male,2.899926,42.216457,12.890289,13.085990,64.385471
other,1.000000,26.000000,10.000000,0.000000,37.000000

In [12]:
df.shape

(115864, 7)